[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['DATABASE_URL="postgresql://placeholder:placeholder@localhost:5432/placeholder" npm run build']

[start]
cmd = 'npm start'
